<%= index_display_header %>

<% if @items.blank? %>
    <h3>No posted items yet. Post an item <%= link_to "here", new_item_path%></h3>
<% else %>
    <%= render partial: "items", locals: {items: @items} %>
<% end %>


